@model CasaGaillard.Models.grupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.compartimento.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compartimento.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuba.cuba1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuba.cuba1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situacion.lado_cuba_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacion.lado_cuba_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_grupo.nombre_grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_grupo.nombre_grupo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
