@model IEnumerable<CasaGaillard.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>TIPO VEHÍCULO</th>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>MATRÍCULA</th>
                <th>PMA</th>
                <th>TARA</th>
                <th>CARGO ÚTIL</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TipoVehiculo.Vehiculo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                    <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                    <td>@Html.DisplayFor(modelItem => item.MatriculaVehiculo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pma)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tara)</td>
                    <td>@Html.DisplayFor(modelItem => item.CargaUtil)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
                
        </tbody>
    </table>
</div>
    
