@model CasaGaillard.Models.Grupo
@{
    ViewBag.Title = "Details";
}

<h4>Detalles</h4>

<div>
    <h3>@Html.DisplayFor(modelItem => Model.TipoGrupo.NombreGrupo)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuba.MatriculaCuba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuba.MatriculaCuba)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => Model.Compartimento.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.Compartimento.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacion.LadoCubaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacion.LadoCubaNombre)
        </dd>
    </dl>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Cantidad
                </th>
                <th>
                    Accesorio
                </th>
                <th>
                    Material
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var a in Model.AccesoriosGrupo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => a.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => a.Accesorio.TipoAccesorio.TipoAccesorio1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => a.Accesorio.Material.Material1)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
