@model IEnumerable<CasaGaillard.Models.Grupo>
@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>

<table class="table table-striped">
    @*<thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="border:thick solid; border-bottom:none">
                <th>
                    <h4>
                        @Html.DisplayFor(modelItem => item.TipoGrupo.NombreGrupo)
                    </h4>
                    @Html.DisplayFor(modelItem => item.Cuba.MatriculaCuba)
                    <br />
                    Compartimento: @Html.DisplayFor(modelItem => item.Compartimento.Numero)
                    <br />
                    @Html.DisplayFor(modelItem => item.Situacion.LadoCubaNombre)
                </th>
                <td colspan="6"></td>
            </tr>

            foreach (var i in item.AccesoriosGrupo)
            {
                <tr style="border-top:double; border-bottom:double; border-left:thick solid; border-right:thick solid">
                    <td></td>
                    <th>
                        @Html.DisplayFor(modelItem => i.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => i.Accesorio.TipoAccesorio.TipoAccesorio1)
                        <br />
                        @Html.DisplayFor(modelItem => i.Accesorio.Material.Material1)
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Característica
                    </th>
                    <th>
                        Medida
                    </th>
                    <th>
                        Unidad
                    </th>
                </tr>
                foreach(var d in i.Accesorio.DetallesAccesorio)
                {
                    <tr style="border-left:thick solid; border-right:thick solid">
                        <td colspan="3"></td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.CaracteristicaAccesorio.CaracteristicaAccesorio1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Medida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => d.Unidad.Unidad1)
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>






}