@model IEnumerable<CasaGaillard.Models.Cuba>

@{
    ViewBag.Title = "Cubas";
}

<h2>Cubas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaCuba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCuadro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
       
        <th>
            Plataforma
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaCuba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumCuadro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.MatriculaVehiculo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
