@model CasaGaillard.Models.producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iupac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iupac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concentracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concentracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_UN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_UN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.densidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.densidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frases_R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frases_R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frases_S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frases_S)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
