@model IEnumerable<CasaGaillard.Models.producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iupac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.concentracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_UN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.densidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frases_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frases_S)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iupac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.concentracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_UN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.densidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frases_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frases_S)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
