@model IEnumerable<CasaGaillard.Models.Vehiculo>

@{
    ViewBag.Title = "Vehículos";
}

<h2>Vehículos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoVehiculo.Vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaVehiculo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ModeloTacografo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Pma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tara)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TallerHabitual)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TipoVehiculo.Vehiculo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MatriculaVehiculo)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.ModeloTacografo)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Pma)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tara)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.FechaCompra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TallerHabitual)
    </td>*@
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
