@model IEnumerable<CasaGaillard.Models.vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula_vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo_tacografo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taller_habitual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_vehiculo.tipo_vehiculo1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula_vehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo_tacografo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taller_habitual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_vehiculo.tipo_vehiculo1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
