@model CasaGaillard.Models.Cuba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>Cuba</h4>
<hr />

<ul class="nav nav-tabs" id="cubasTab" role="tablist">
    <li class="nav-item" role="presentation">
    <a class="nav-link active" id="basicos-tab" data-toggle="tab" href="#basicos" role="tab" aria-controls="basicos" aria-selected="true">Datos Básicos</a>
    </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="csc-tab" data-toggle="tab" href="#csc" role="tab" aria-controls="csc" aria-selected="false">Placa CSC</a>
    </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="imdg-tab" data-toggle="tab" href="#imdg" role="tab" aria-controls="imdg" aria-selected="false">Placa IMDG</a>
    </li>
</ul>
<div class="tab-content" id="cubasTabContent">
    <div class="tab-pane fade show active" id="basicos" role="tabpanel" aria-labelledby="basicos-tab">
        <br />
        <div class="row">
            <div class="form-group offset-1 col-lg-2">
                @Html.LabelFor(model => model.MatriculaCuba, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.MatriculaCuba, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-2">
                @Html.LabelFor(model => model.NumCuadro, htmlAttributes: new { @class = "control-label col-md-1" })
                <div>
                    @Html.EditorFor(model => model.NumCuadro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-2">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.FechaConstruccion, htmlAttributes: new { @class = "control-label col-lg-8" })
                <div>
                    @Html.EditorFor(model => model.FechaConstruccion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.PesoBruto, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.PesoBruto, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">KG</span>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Tara, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.Tara, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">KG</span>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.PesoMaxProducto, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.PesoMaxProducto, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">KG</span>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-sm table-borderless col-lg-6">
            <thead>
                <tr>
                    <th class="bg-primary" colspan="3">COMPARTIMENTOS</th>
                </tr>
                <tr>
                    <th>Número</th>
                    <th>Capacidad</th>
                    <th>Material</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Compartimentos)
                {
                    <tr>
                        <td>
                            @c.Numero
                        </td>
                        <td>
                            @c.Capacidad.Value.ToString("N0") L
                        </td>
                        <td>
                            @c.Material.Descripcion
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="tab-pane fade" id="csc" role="tabpanel" aria-labelledby="csc-tab">
        <br />
        <div class="form-group row">
            @Html.LabelFor(model => model.FechaConstruccion, htmlAttributes: new { @class = "control-label offset-1 col-lg-3" })
            @Html.EditorFor(model => model.FechaConstruccion, new { htmlAttributes = new { @class = "form-control col-lg-5", @disabled = "disabled" } })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.NumFabricacion, htmlAttributes: new { @class = "control-label offset-1 col-lg-3" })
            @Html.EditorFor(model => model.NumFabricacion, new { htmlAttributes = new { @class = "form-control col-lg-5", @disabled = "disabled" } })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.NumAprobacionCSC, htmlAttributes: new { @class = "control-label offset-1 col-lg-3" })
            @Html.EditorFor(model => model.NumAprobacionCSC, new { htmlAttributes = new { @class = "form-control col-lg-5", @disabled = "disabled" } })
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.PesoBruto, htmlAttributes: new { @class = "control-label offset-1 col-lg-3" })
            <div class="col-lg-5 pl-0 pr-0">
                <div class="input-group">
                    @Html.EditorFor(model => model.PesoBruto, new { htmlAttributes = new { @class = "form-control col-lg-12 text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">KG</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.PesoMaxApilamiento, htmlAttributes: new { @class = "control-label offset-1 col-lg-3" })
            <div class="col-lg-5 pl-0 pr-0">
                <div class="input-group">
                    @Html.EditorFor(model => model.PesoMaxApilamiento, new { htmlAttributes = new { @class = "form-control col-lg-12 text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">KG</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.CargaRigidez, htmlAttributes: new { @class = "control-label offset-1 col-lg-3" })
            <div class="col-lg-5 pl-0 pr-0">
                <div class="input-group">
                    @Html.EditorFor(model => model.CargaRigidez, new { htmlAttributes = new { @class = "form-control col-lg-12 text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">KG</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="imdg" role="tabpanel" aria-labelledby="imdg-tab">
        <br />
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.PaisFabricacion, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.PaisFabricacion, new { htmlAttributes = new { @class = "form-control col-lg-12 pd-0", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.Material.Material1, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Material.Material1, new { htmlAttributes = new { @class = "form-control col-lg-12 pd-0", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 row">
                @Html.LabelFor(model => model.NumTipoIMO, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.NumTipoIMO, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-4 row">
                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-4 pr-0 row">
                @Html.LabelFor(model => model.EspesorEquivalente, htmlAttributes: new { @class = "control-label col-lg-6" })
                <div class="input-group col-lg-6 pr-0">
                    @Html.EditorFor(model => model.EspesorEquivalente, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.PaisAprobacion, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.PaisAprobacion, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.NumAprobacionIMDG, htmlAttributes: new { @class = "control-label col-lg-5" })
                <div class="col-lg-7">
                    @Html.EditorFor(model => model.NumAprobacionIMDG, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.TemperaturaCalculoReferencia, htmlAttributes: new { @class = "control-label col-lg-6" })
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.TemperaturaCalculoReferencia, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.FechaConstruccion, htmlAttributes: new { @class = "control-label col-lg-5" })
                <div class="col-lg-7">
                    @Html.EditorFor(model => model.FechaConstruccion, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.PresionPrueba, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="input-group col-lg-8">
                    @Html.EditorFor(model => model.PresionPrueba, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">bar</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.Autoridad, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-lg-9">
                    @Html.EditorFor(model => model.Autoridad, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.PresionServicioIMO, htmlAttributes: new { @class = "control-label col-lg-5" })
                <div class="input-group col-lg-7">
                    @Html.EditorFor(model => model.PresionServicioIMO, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">bar</span>
                    </div>
                </div>            
            </div>
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.PesoMaxProducto, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="input-group col-lg-8">
                    @Html.EditorFor(model => model.PesoMaxProducto, new { htmlAttributes = new { @class = "form-control text-right col-lg-12", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">Kg</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.PesoBruto, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="input-group col-lg-9">
                    @Html.EditorFor(model => model.PesoBruto, new { htmlAttributes = new { @class = "form-control text-right col-lg-12", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">Kg</span>
                    </div>
                </div>            
            </div>
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.Tara, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="input-group col-lg-9">
                    @Html.EditorFor(model => model.Tara, new { htmlAttributes = new { @class = "form-control text-right col-lg-12", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <span class="input-group-text">Kg</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 row">
                @Html.LabelFor(model => model.CodigoDiseno, htmlAttributes: new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.CodigoDiseno, new { htmlAttributes = new { @class = "form-control col-lg-12", @readonly = "readonly" } })
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
