@model CasaGaillard.Models.Cuba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="tab">
    <h4>Cuba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatriculaCuba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatriculaCuba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCuadro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCuadro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumFabricacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFabricacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumHomologacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumHomologacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaConstruccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaConstruccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisFabricacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisFabricacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTipoIMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTipoIMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisAprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autoridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autoridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDiseno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDiseno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PruebaHidraulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PruebaHidraulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionServicioADR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionServicioADR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionServicioIMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionServicioIMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionExterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionExterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionTaradoValvulas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionTaradoValvulas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemperaturaCalculoReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemperaturaCalculoReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoMaxProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoMaxProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EspesorCuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspesorCuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EspesorFondo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspesorFondo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EspesorEquivalente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspesorEquivalente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoForro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoForro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumAprobacionCSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAprobacionCSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoMaxApilamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoMaxApilamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargaRigidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargaRigidez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionPrueba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionPrueba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemperaturaMinCarga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemperaturaMinCarga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ancho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumAprobacionIMDG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAprobacionIMDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumAprobacionADR_RID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAprobacionADR_RID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNPortableTank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNPortableTank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumAprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.Material1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.Material1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plataforma.MatriculaPlataforma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plataforma.MatriculaPlataforma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
