@model IEnumerable<CasaGaillard.Models.Cuba>

@{
    ViewBag.Title = "Cubas";
}

<h2>Cubas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Matricula
            @*@Html.DisplayNameFor(model => model.MatriculaCuba)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCuadro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Constructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumFabricacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumHomologacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaConstruccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisFabricacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTipoIMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisAprobacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autoridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDiseno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PruebaHidraulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionServicioADR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionServicioIMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionExterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionTaradoValvulas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemperaturaCalculoReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoMaxProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EspesorCuerpo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EspesorFondo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EspesorEquivalente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoForro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAprobacionCSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoMaxApilamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargaRigidez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionPrueba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemperaturaMinCarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ancho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAprobacionIMDG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAprobacionADR_RID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNPortableTank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAprobacion)
        </th>*@
        <th>
            Material
            @*@Html.DisplayNameFor(model => model.Material.Material1)*@
        </th>
        <th>
            Plataforma
            @*@Html.DisplayNameFor(model => model.Plataforma.MatriculaPlataforma)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaCuba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumCuadro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Constructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumFabricacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumHomologacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaConstruccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisFabricacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTipoIMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisAprobacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autoridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDiseno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PruebaHidraulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionServicioADR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionServicioIMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionExterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionTaradoValvulas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemperaturaCalculoReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoBruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoMaxProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspesorCuerpo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspesorFondo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspesorEquivalente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoForro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAprobacionCSC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoMaxApilamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargaRigidez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionPrueba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemperaturaMinCarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ancho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAprobacionIMDG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAprobacionADR_RID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNPortableTank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAprobacion)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Material.Material1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plataforma.MatriculaPlataforma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
