@model IEnumerable<CasaGaillard.Models.revision>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_revision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valida_hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_proxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autorizado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuba.cuba1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_revision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valida_hasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_proxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autorizado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuba.cuba1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
