@model CasaGaillard.Models.Direccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreVia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreVia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escalera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escalera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puerta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puerta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poblacion.NombrePoblacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poblacion.NombrePoblacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVia.TipoVia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVia.TipoVia1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
