@model CasaGaillard.Models.detalle_accesorio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>detalle_accesorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accesorio.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accesorio.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caracteristica_accesorio.caracteristica_accesorio1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caracteristica_accesorio.caracteristica_accesorio1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidad.unidad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidad.unidad1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
